.mainLocation {
  display: flex;
  justify-content: center;
  margin: 1em 0em;
  flex-direction: column;
}

.caroussel {
  width: 335px;
  height: 255px;
  display: flex;
  margin: auto;
}

.carousselPic {
  height: 255px;
  width: 335px;
  position: absolute;
  border-radius: 10px;
}

.vue {
  display: block;
  object-fit: cover;
}

.nvue {
  display: none;
}
.arrowF {
  width: 24px;
  height: 24px;
  position: relative;
  top: 46%;
  left: 91%;
  z-index: 100;
  color: #f6f6f6;
  opacity: 87%;
}

.arrowB {
  width: 24px;
  height: 24px;
  position: relative;
  top: 46%;
  right: 5%;
  z-index: 100;
  color: #f6f6f6;
  opacity: 87%;
}

.infosLogement {
  width: 335px;
  margin: auto;
}

.infosTitleLoc {
  font-family: Montserrat;
  font-style: Medium;
  font-size: 18px;
  line-height: 26px;
  line-height: 143%;
  color: #ff6060;
  vertical-align: Bottom;
  width: 335px;
  height: 46px;
}
.infosLocation {
  font-family: Montserrat;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  line-height: 143%;
  vertical-align: Bottom;
  fill: Solid;
  color: #ff6060;
  height: 22px;
  width: 323px;
}

.infosTag {
  display: flex;
  justify-content: flex-start;
  padding-left: 0%;
  list-style: none;
}

.containerTags {
  height: 18px;
  width: 84px;
  background-color: #ff6060;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 0.625rem;
}
.tags {
  height: 14px;
  width: 65px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.infosRN {
  display: flex;
  justify-content: space-between;
  width: 335px;
  align-items: center;
}

.infosHost {
  display: flex;
  justify-content: space-between;
  width: 136px;
  height: 33px;
}

.infosHostName {
  height: 33px;
  width: 53px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  color: #ff6060;
  padding: 0px 11px;
  margin: auto;
  margin-right: 0%;
}

.infosHostPicture {
  height: 32px;
  width: 32px;
  left: 103.5px;
  top: 0.5px;
  border-radius: 0px;
  border-radius: 150px;
}

.disappear {
  display: none;
}

.divBtnArrowLog {
  height: 30px;
  width: 335px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 7%;
}
.buttonDropDownLog {
  border-color: transparent;
  margin-top: 3%;
  margin: auto;
  background: #ff6060;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 142.6%;
  height: 30px;
  width: 335px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  color: #ffffff;
}

.btnArrowL,
.btnArrowM {
  border-radius: 5px;
  z-index: 100;
  color: white;
  position: absolute;
  right: 8%;
}

/*RATING*/
.infosRating {
  width: 98px;
  height: 18px;
  display: flex;
  justify-content: space-around;
}

.starImg {
  width: 15px;
  height: 15px;
}

/* icone chevron */
#btnSectionInfosa #btnSectionInfosb .fasl .fasm {
  pointer-events: none;
  margin-right: 5%;
  z-index: 2;
}
.rotate {
  padding-bottom: 0.9%;
  transition: all 500ms;
  transform: rotate(180deg);
}

.inrotate {
  padding-bottom: 0.9%;
  transition: all 500ms;
  transform: rotate(360deg);
}

/*Texte*/
.aSectionInfos {
  background: #f6f6f6;
  margin: auto;
  width: 335px;
  left: 0px;
  top: 24.230712890625px;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-top: 15px;
}
.textEquipments {
  padding: 1%;
  line-height: 10px;
}
@media all and (min-width: 767.9px) {
  .caroussel {
    width: 740px;
    height: 215px;
    border-radius: 25px;
  }

  .carousselPic {
    width: 740px;
    height: 215px;
    border-radius: 25px;
    object-fit: cover;
  }
  .btnArrowL {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;
    right: inherit;
    left: 82%;
  }
  .btnArrowM {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;
    right: inherit;
    left: 82%;
  }
  .divBtnArrowLog {
    width: 420px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .buttonDropDownLog {
    width: 420px;
    font-size: 20px;
    height: 30px;
  }
  .rotate,
  .inrotate {
    padding-bottom: 0;
  }

  .arrowB,
  .arrowF {
    width: 4em;
    height: 5.5em;
    top: 33%;
  }
  .arrowF {
    left: 89%;
  }
  .arrowB {
    right: 7%;
  }

  .dropDownLog {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 8%;
  }

  .divBtnArrowLog,
  .buttonDropDownLog {
    width: 620px;
  }

  .aSectionInfos {
    width: 620px;
    margin-bottom: 0;
  }

  .infosLogement {
    width: 725px;
  }

  .infosTitleLoc {
    width: 725px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .infosLocation {
    width: 725px;
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  .infosRN {
    display: flex;
    justify-content: center;
    width: 725px;
    align-items: center;
  }
  .containerTags {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .infosTag {
    display: flex;
    justify-content: center;
    margin: 4% 0 3% 0;
  }
  .tags {
    font-size: 15px;
    width: 99px;
  }
  .infosRating {
    width: 135px;
  }
  .infosHost {
    width: 210px;
  }
  .infosHostName {
    font-size: 20px;
    margin-right: 0%;
  }

  .infosHostPicture {
    height: 40px;
    width: 40px;
  }
  .starImg {
    width: 20px;
    height: 20px;
  }

  .btnArrowL,
  .btnArrowM {
    left: 84%;
    right: inherit;
    padding-top: 3px;
  }
  .menuDD {
    margin-top: 2%;
  }

  .divBtnArrowLog {
    margin-top: 1%;
  }

  .dropDownLog {
    margin-bottom: 4%;
  }

  .fa-chevron-down {
    height: 1rem;
    width: 1.5rem;
  }
}

@media all and (min-width: 990.9px) {
  .caroussel {
    width: 850px;
    height: 315px;
    border-radius: 25px;
  }

  .carousselPic {
    width: 850px;
    height: 315px;
    border-radius: 25px;
    object-fit: cover;
  }

  .arrowF {
    left: 88%;
    top: 37%;
  }
  .arrowB {
    right: 3%;
    top: 37%;
  }
  .btnArrowL {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;

    left: 90%;
  }
  .btnArrowM {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;
    right: inherit;
    left: 44%;
  }
  .infosLogement {
    width: 925px;
  }

  .infosTitleLoc {
    width: 925px;
    font-size: 35px;
    display: flex;
    justify-content: center;
  }

  .infosLocation {
    width: 925px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .infosRN {
    display: flex;
    justify-content: center;
    width: 925px;
    align-items: center;
  }
  .containerTags {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .infosTag {
    display: flex;
    justify-content: center;
    margin: 4% 0 3% 0;
  }
  .tags {
    font-size: 15px;
    width: 99px;
  }
  .infosRating {
    width: 135px;
  }
  .infosHost {
    width: 210px;
  }
  .infosHostName {
    font-size: 20px;
    margin-right: 0%;
  }

  .infosHostPicture {
    height: 40px;
    width: 40px;
  }
  .starImg {
    width: 20px;
    height: 20px;
  }

  .btnArrowL,
  .btnArrowM {
    left: 75%;
    right: inherit;
    padding-top: 29px;
  }
  .rotate {
    padding-bottom: 35px;
  }
  .inrotate {
    padding-top: 12px;
  }
  .menuDD {
    margin-top: 2%;
  }

  .divBtnArrowLog {
    margin-top: 1%;
  }
  .buttonDropDownLog {
    height: 40px;
  }
  .dropDownLog {
    margin-bottom: 4%;
  }
}

@media all and (min-width: 1200px) {
  .mainLocation {
    width: 1240px;
    margin: auto;
    margin-top: 2%;
  }

  .caroussel {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
  }

  .carousselPic {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }

  .vue {
    object-fit: cover;
  }
  .sectionInfos {
    width: 100%;
    margin-bottom: 1rem;
  }

  .infosLogement {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .infos1 {
    display: flex;
    flex-direction: column;
  }
  .infosTitleLoc {
    width: 935px;
    font-size: 36px;
    height: 51px;
    line-height: 52px;
    margin: 3% 0% 0 0;
    justify-content: left;
  }

  .infosLocation {
    width: 309px;
    height: 26px;
    font-size: 18px;
    line-height: 26px;
    margin: 1% 0%;
    justify-content: flex-start;
  }
  .containerTags {
    height: 25px;
    width: 115px;
    border-radius: 10px;
  }
  .infosTag {
    justify-content: left;
    margin: 1% 0%;
  }
  .tags {
    width: 115px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
  }

  .infosRN {
    width: 1240px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .infosRating {
    display: flex;
    align-self: flex-end;
    width: 186px;
    height: 20px;
  }

  .infosHost {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .starImg {
    width: 30px;
    height: 30px;
  }

  .infosHostName {
    height: 52px;
    font-size: 18px;
    line-height: 26px;
    margin-right: 0%;
    width: 90px;
  }

  .infosHostPicture {
    width: 64px;
    height: 64px;
  }
  .menuDD {
    display: flex;
    margin: auto;
    margin-top: 2.5%;
  }
  .dropDownLog {
    display: flex;
    margin: auto;
    margin-top: 0;
  }
  .divBtnArrowLog {
    width: 620px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0%;
  }

  .DD2 {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
  }
  .buttonDropDownLog {
    width: 582px;
    height: 52px;
    margin-top: 0%;
    margin: 0;
    font-size: 18px;
    border-radius: 10px;
  }
  .btnArrowL {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;
    left: 90%;
  }
  .btnArrowM {
    border-radius: 5px;
    z-index: 100;
    color: white;
    position: absolute;
    right: inherit;
    left: 44%;
  }
  .btnArrowL,
  .btnArrowM {
    padding-top: 5px;
  }

  .rotate {
    padding-bottom: 5px;
  }
  .flexC {
    display: flex;
    flex-direction: column;
  }
  .flexE {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .aSectionInfos {
    width: 582px;
    padding: 2rem 0rem;
    margin: 0%;
    padding-top: 2rem;
  }
  .textSectionLog {
    height: auto;
  }

  .textDescription {
    line-height: 26px;
    font-size: 18px;
    padding: 1%;
  }
  .textEquipments {
    line-height: 10px;
    font-size: 18px;
    padding-top: 12px;
  }

  .arrowB,
  .arrowF {
    width: 6em;
    height: 7.5em;
    top: 39%;
  }
  .arrowF {
    left: 90%;
  }
  .arrowB {
    right: 5%;
  }
}
