@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;400;500;700&display=swap");

.headerLogNav {
  display: flex;
  justify-content: space-between;
  height: 47px;
  width: 335px;
  left: 20px;
  top: 20px;
  border-radius: 0px;
  margin: auto;
  width: 335px;
}

.navigation {
  width: 100%;
}

.navigationUl {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 9%;
}

#navigationUlAccueil {
  height: 17px;
  width: 54px;
  left: 195px;
  top: 18px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: #ff6060;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

#navigationUlAbout {
  height: 17px;
  width: 66px;
  left: 264px;
  top: 18px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: #ff6060;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-active {
  border-bottom: 1px solid#ff6060;
}

@media all and (min-width: 767.9px) {
  .headerLogNav {
    align-items: center;
    width: 620px;
    justify-content: center;
    height: 74px;
    align-self: center;
  }
  .navigation {
    flex: 2;
    height: 100%;
  }
  #navigationUlAccueil {
    height: 25px;
    width: 89px;
  }
  #navigationUlAbout {
    width: 120px;
    height: 25px;
  }
  .navigationUlTitle {
    font-size: 20px;
  }
}

@media all and (min-width: 990.9px) {
}
@media all and (min-width: 1200px) {
  .headerLogNav {
    width: 1240px;
    height: 68px;
    justify-content: space-between;
  }
  .navigation {
    width: 350px;

    display: flex;
    align-items: center;
    flex: none;
  }
  .navigationUl {
    width: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    margin: auto;
  }

  #navigationUlAccueil {
    width: 121px;
    height: 37px;
    display: flex;
    align-items: center;
  }
  .navigationUlTitle {
    font-size: 34px;
    text-transform: capitalize;
  }
  #navigationUlAbout {
    display: flex;
    align-items: center;
    height: 37px;
    width: 155px;
  }
  .nav-active {
    border-bottom: 2px solid#ff6060;
  }
}
