body {
  margin: 0 0 0 0;
  box-sizing: border-box;
  /* M_Home */

  position: relative;
  width: 375px;
  max-width: 375px;
  height: 6030px;
  max-height: 6030px;

  background: #ffffff;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

.Home,
.error {
  height: 100%;
}
